<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/login']" *ngIf="authType == 'signup'">Have an account?</a>
          <a [routerLink]="['/signup']" *ngIf="authType == 'login'">Need an account?</a>
        </p>
        <app-list-errors [errors]="errors"></app-list-errors>

        <div *ngIf="authType == 'login'">
          <button (click)="login('auth0')"  class="login-button ">Login with Username & Password (Auth0)</button>
          <button (click)="login('google')" class="login-button google">Login with Google</button>
        </div>

        <div *ngIf="authType == 'signup'">
          <button (click)="login('auth0')"  class="login-button ">SignUp with Username & Password (Auth0)</button>
          <button (click)="login('google')" class="login-button google">SignUp with Google</button>
        </div>     
        
        <div *ngIf="authType == 'register'">

          <h4 class="text-xs-center">Finish your profile and start writing</h4>
          <img class="registerImage" src="{{ picture }}" alt="Avatar">

          <form [formGroup]="authForm" (ngSubmit)="submitForm()">
            <fieldset [disabled]="isSubmitting">
              <fieldset class="form-group">
                <input
                  formControlName="username"
                  placeholder="Username"
                  class="form-control form-control-lg"
                  type="text"
                  *ngIf="authType == 'register'" />
              </fieldset>
              <fieldset class="form-group">
                <input
                  disabled
                  formControlName="email"
                  placeholder="Email"
                  class="form-control form-control-lg"
                  type="text" />
              </fieldset>
              <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!authForm.valid" type="submit">
                {{ title }}
              </button>
            </fieldset>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
